@model EadQuiz02.Models.grocery
<h2>AddGrocery</h2>

<!DOCTYPE html>
<html>

<body>
    <form id = "add" action="/Home/Add" method="get">
        Name: <input type="text" name="name" />
        <br>
        Price:  <input type="text" name="price" />
        <br>
        Brand: <input type="text" name="brand" />
        <br />
        <a href="#" class= "button" onClick="document.getElementById('add').submit()"><span><span>Add</span></span></a>
    </form>
</body>

</html>
