@model IEnumerable<EadQuiz02.Models.Sport>

<h2>Sport Items</h2>

<table border="1">
    <tr>
        <td>  ID  </td>
        <td> Name </td>
        <td> Price </td>
        <td> Brand </td>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.name</td>
            <td>@s.price</td>
            <td>@s.brand</td>
            <td><a href="/Home/EditSports/@s.Id">Edit</a></td>
        </tr>
    }

</table>

